*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
 html,body{
    height:100%;
    width:100%;
 }
 body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
 }
 .card{
    height: 450px;
    width: 300px;
    background-color:#fff;
    border-radius: 10px;
    padding: 30px;
 }
 .card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
 }
 .card h1{
    font-size: 26px;
    margin: 10px 48px 0 ;
 }
 .card h5{
    font-size: 25px;
    color:red;
    margin :20px 68px;
 }
 .card button{
    background-color: rgb(7, 109, 112);
    color: #fff;
    font-weight: 700;
    padding: 12px 30px;
    border-radius: 5px;
    border: none;
    margin: 5px 0px;
    margin-left: 48px;
    margin-right: 44px;
    cursor: pointer;
 }
